<!DOCTYPE html>
<html>
  {{> global/head }}
  <body>
    {{> ui/betaModeBanner }}
    {{> global/mainNavigation }}

    <main class="px-4 mx-auto mt-24 space-y-6 wrapper">
      <section class="grid grid-cols-12 gap-8">
        <div class="flex flex-col col-span-9 space-y-2">
          <h1 class="text-3xl italic font-bold text-white">{{ article.title }}</h1>
          <p class="text-lg font-medium text-gray-400">{{ article.author }}</p>
        </div>
        <div class="col-span-3 justify-self-end">
          {{> ui/ctaBtn link='/search' text='Revise Search' }}
        </div>
      </section>
      <section class="px-6 py-10 rounded shadow-md bg-blackLight">
        <!-- Top Half-->
        <div class="grid grid-cols-12 gap-9">
          <div class="grid grid-flow-row col-span-8 space-y-6 auto-rows-auto">
            <div class="grid grid-cols-2 gap-4">
              <div class="space-y-1">
                {{> ui/resultKey text='Publication' }}
                  <p class="text-lg font-medium text-gray-300">{{ article.publication }}</p>
              </div>
              <div class="space-y-1">
                {{> ui/resultKey text='Year' }}
                <p class="text-lg font-medium text-gray-300">{{ article.year }}</p>
              </div>
              <div class="space-y-1">
                {{> ui/resultKey text='MLA 8 Citation' }}
                <p class="text-lg font-medium text-gray-300">{{ article.mla8Citation }}</p>
              </div>
              <div class="space-y-1">
                {{> ui/resultKey text='DOI/Stable URL' }}
                <a
                  href="{{ article.[publisher/stableUrl] }}"
                  target="_blank"
                  rel="noopener"
                  class="text-lg font-medium text-primaryOrange"
                  >{{ article.[publisher/stableUrl] }}</a
                >
              </div>
              <div class="space-y-1">
                {{> ui/resultKey text='Free Online Copy' }}
                {{#if article.freeOnlineCopy }}
                <a
                  href="{{ article.freeOnlineCopy }}"
                  target="_blank"
                  rel="noopener"
                  class="text-lg font-medium underline text-primaryOrange hover:text-primaryOrangeDark"
                  >Online copy available here
                </a>
                {{else}}
                <p class="text-lg font-medium text-gray-800">Not available</p>
                {{/if}}
              </div>
              <div class="space-y-1">
                {{> ui/resultKey text='Reprinted In' }}
                <p class="text-lg font-medium text-gray-300">{{ article.reprintedIn }}</p>
              </div>
            </div>
          </div>
          <div class="col-span-3">
            <img
              src="https://horror-lex.nyc3.cdn.digitaloceanspaces.com/articles/{{ article.photo }}.jpg"
              alt="{{ article.title }}"
              class="mx-auto"
            />
          </div>
        </div>
        <div class="mt-6">
          <div class="space-y-2">
            {{> ui/resultKey text='For More Information' }}
            <div class="flex justify-start space-x-8">
              {{#if article.muse }}
              <a href="{{ article.muse }}" target="_blank" rel="noopener" class="inline-block">
                <img src="/public/img/logo/muse.png" alt="Muse Logo" class="w-48" />
              </a>
              {{else}}
              <p class="text-lg font-medium text-gray-800">Muse - Not available</p>
              {{/if}}
              {{#if article.jstor }}
              <a href="{{ article.jstor }}" target="_blank" rel="noopener" class="inline-block">
                <img src="/public/img/logo/jstor.png" alt="JSTOR Logo" class="w-48" />
              </a>
              {{else}}
              <p class="text-lg font-medium text-gray-800">JSTOR - Not available</p>
              {{/if}}
            </div>
          </div>
        </div>
        <hr class="my-16" />
        <!-- Bottom Half-->
        <div class="space-y-8">
          <div class="max-w-3xl space-y-2">
            {{> ui/resultKey text='Horror Lex Summary' }}
            <p class="text-lg text-gray-300">{{ article.summary }}</p>
          </div>
          <div class="grid grid-cols-12 gap-4">
            <div class="col-span-5 space-y-2">
              {{> ui/resultKey text='Films Discussed' }}
              {{#each article.films}}
                <p class="text-base font-normal text-gray-400">{{ this }}</p>
              {{else}}
                <p class="text-lg font-medium text-gray-800">Not available</p>
              {{/each}}
            </div>
            <div class="col-span-7 space-y-2">
              {{> ui/resultKey text='Tags' }}
              {{#each article.tags}}
                <a
                  href="/results?count=10&page=1&query={{this}}&type=tag"
                  class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-gray-100 text-gray-800"
                >
                  {{ this }}
                </a>
              {{else}}
              <p class="text-lg font-medium text-gray-800">Not available</p>
              {{/each}}
            </div>
          </div>
        </div>
      </section>
    </main>
    {{> global/mainFooter }}
    {{> global/scripts }}
  </body>
</html>
