<!DOCTYPE html>
<html>
  {{> global/head}}
  <body>
    {{> ui/betaModeBanner}}
    {{> global/mainNavigation}}
    <main class="divide-y divide-gray-600">
      <section class="max-w-6xl px-4 mx-auto mt-8 divide-y divide-gray-600 lg:mt-16 lg:px-8">
        <div class="mx-auto text-lg max-w-prose">
            <span class="block text-base tracking-wide text-center text-gray-500">{{ date }}</span>
            <h1>
                <span class="block mt-2 mb-8 text-3xl font-extrabold leading-8 tracking-tight text-center text-gray-100 sm:text-4xl sm:leading-10">{{ title }}</span>
            </h1>
        </div>
        <div>
            <div class="relative grid grid-cols-12 gap-6 py-16 overflow-hidden">
                <div class="col-span-8">
                    <div class="relative px-4 sm:px-6 lg:px-8">
                        <div class="mx-auto mt-6 prose prose-lg text-gray-300">
                          {{{ content }}}
                        </div>
                    </div>
                </div>
                <div class="col-span-4 space-y-8">
                    <div class="flex items-center mt-6">
                        <div class="flex items-center space-x-2">
                            <a href="#">
                                <span class="sr-only">Paul York</span>
                                <img class="w-12 h-12 rounded-full" src="/public/img/lex-avatar.png" alt="">
                            </a>
                            <h4 class="text-lg font-medium text-gray-50">
                                Professor Lex
                            </h4>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="">
                            <h4 class="text-lg font-medium text-gray-50">
                                Share this post... <span class="text-primaryRed">if you dare</span>
                            </h4>
                        </div>
                        <div class="flex mt-8 space-x-6">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://horrorlex.com{{slug}}" class="p-2 rounded-full hover:text-primaryOrangeDark bg-primaryOrange" target="_blank" rel="noopener">
                              <span class="sr-only">Facebook</span>
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" class="w-6 h-6">
                                <path fill="#110803" d="M15.1083 6.45834h-3.55V4.86667c-.0117-.11623.0012-.23362.0378-.34455.0366-.11093.0961-.21292.1747-.29936.0786-.08643.1745-.15538.2814-.20237.107-.04699.2226-.07097.3394-.07039h2.5V.616669h-3.6083c-3.27503 0-3.8917 2.500001-3.8917 4.050001v1.79167h-2.5v3.33333h2.5V19.375h4.1667V9.79167h3.2083l.3417-3.33333Z"/>
                              </svg>
                            </a>
                            <a href="https://twitter.com/intent/tweet?text=Read%20this%20Horror%20Lex%20article&url=https://horrorlex.com{{slug}}" rel="canonical" class="p-2 rounded-full text-blackDark hover:text-primaryOrangeDark bg-primaryOrange twitter-share-button" target="_blank" rel="noopener">
                              <span class="sr-only">Twitter</span>
                              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                                <path
                                  d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
                                />
                              </svg>
                            </a>
                            <a href="#" class="p-2 rounded-full text-primaryOrange hover:text-primaryOrangeDark bg-primaryOrange" target="_blank" rel="noopener">
                              <span class="sr-only">This article title</span>
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6">
                                <path stroke="#110803" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.1723 13.828c.7501.7499 1.7674 1.1712 2.828 1.1712 1.0607 0 2.0779-.4213 2.828-1.1712l4-3.99999c.7287-.75441 1.1318-1.76482 1.1227-2.8136-.0091-1.04879-.4298-2.05204-1.1714-2.79367-.7416-.74164-1.7449-1.16231-2.7937-1.17142-1.0488-.00912-2.0592.39406-2.8136 1.12269l-1.1 1.1m.756 4.89999c-.7501-.74987-1.7673-1.17113-2.828-1.17113-1.06063 0-2.07786.42126-2.82798 1.17113l-4 4c-.38204.369-.68676.8104-.8964 1.2984-.20964.488-.31998 1.0129-.3246 1.544-.00461.5311.09659 1.0578.29772 1.5494.20112.4916.49813.9382.8737 1.3138.37558.3756.82218.6726 1.31377.8737.49158.2011 1.0183.3023 1.54942.2977.53112-.0046 1.056-.1149 1.54401-.3246.48802-.2096.9294-.5143 1.29838-.8964l1.10198-1.101 2.898-8.555Z"/>
                              </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </main>
    {{> global/mainFooter}}
    {{> global/scripts}}
  </body>
</html>
