<!DOCTYPE html>
<html>
  {{> global/head }}
  <body>
    {{> ui/betaModeBanner }}
    {{> global/mainNavigation }}

    <main class="px-4 mx-auto mt-24 space-y-6 max-w-7xl sm:px-6 lg:px-8">
      <section class="grid grid-cols-12 gap-8">
        <div class="flex flex-col col-span-9 space-y-2">
          <h1 class="text-3xl italic font-bold text-white">{{ book.title }}</h1>
          <p class="text-lg font-medium text-gray-400">{{ book.author }}</p>
        </div>
        <div class="col-span-3 justify-self-end">
          {{> ui/ctaBtn link='/search' text='Revise Search' }}
        </div>
      </section>
      <section class="px-6 py-10 rounded shadow-md bg-blackLight">
        <!-- Top Half-->
        <div class="grid grid-cols-12 gap-9">
          <div class="grid grid-flow-row col-span-8 space-y-6 auto-rows-auto">
            <div class="grid grid-cols-2 gap-4">
                <div class="space-y-1">
                  {{> ui/resultKey text='ISBN-13' }}
                  {{#each book.isbn13 }}
                  <p class="text-lg font-medium text-gray-300">{{ this }}</p>
                  {{/each }}
                </div>
                <div class="space-y-1">
                  {{> ui/resultKey text='Year' }}
                  <p class="text-lg font-medium text-gray-300">{{ book.year }}</p>
                </div>
                <div class="space-y-1">
                  {{> ui/resultKey text='Original Publisher' }}
                  <p class="text-lg font-medium text-gray-300">{{ book.originalPublisher }}</p>
                </div>
                <div class="space-y-1">
                  {{> ui/resultKey text='Updated Edition' }}
                  {{#if book.updatedEdition }}
                  <p class="text-lg font-medium text-gray-300">{{ book.updatedEdition }}</p>
                  {{else}}
                  <p class="text-lg font-medium text-gray-800">Not available</p>
                  {{/if}}
                </div>
                <div class="space-y-1">
                    {{> ui/resultKey text='MLA 8 Citation' }}
                    <p class="text-lg font-medium text-gray-300">{{ book.mla8Citation }}</p>
                </div>
                <div class="space-y-1">
                  {{> ui/resultKey text='Publisher/Stable URL' }}
                  <a
                    href="{{ book.[publisher/stableUrl] }}"
                    target="_blank"
                    rel="noopener"
                    class="text-lg font-medium text-primaryOrange"
                    >{{ book.[publisher/stableUrl] }}</a
                  >
                </div>
                <div class="space-y-1">
                    {{> ui/resultKey text='Free Online Copy' }}
                    {{#if book.freeOnlineCopy }}
                    <p class="text-lg font-medium text-gray-300">{{ book.freeOnlineCopy }}</p>
                    {{else}}
                    <p class="text-lg font-medium text-gray-800">Not available</p>
                    {{/if}}
                </div>
            </div>
          </div>
          <div class="col-span-3">
            <img
              src="https://horror-lex.nyc3.cdn.digitaloceanspaces.com/books/{{ book.photo }}.jpg"
              alt="{{ book.title }}"
              class="mx-auto"
            />
          </div>
        </div>
        <div class="mt-6">
            <div class="space-y-2">
                {{> ui/resultKey text='For More Information' }}
                <div class="flex justify-start space-x-8">
                  <a
                    href="{{ book.googleBooks }}"
                    target="_blank"
                    rel="noopener"
                    class="inline-block"
                  >
                    <img src="/public/img/logo/gb.png" alt="Google Books logo" class="h-10" />
                  </a>
                  <a href="{{ book.goodReads }}" target="_blank" rel="noopener" class="inline-block">
                    <img src="/public/img/logo/gr.png" alt="Good Reads Logo" class="h-10" />
                  </a>
                  <a href="{{ book.worldCat }}" target="_blank" rel="noopener" class="inline-block">
                    <img src="/public/img/logo/wc.png" alt="World Cat Logo" class="h-10" />
                  </a>
                </div>
              </div>
        </div>
        <hr class="my-16" />
        <!-- Bottom Half-->
        <div class="space-y-8">
          <div class="max-w-3xl space-y-2">
            {{> ui/resultKey text='Horror Lex Summary' }}
            <p class="text-lg text-gray-300">{{ book.horrorLexSummary }}</p>
          </div>
          <div class="grid grid-cols-12 gap-4">
            <div class="col-span-5 space-y-2">
              {{> ui/resultKey text='Films Discussed' }}
              {{#each book.filmsDiscussed}}
              <p class="text-base font-normal text-gray-400">{{ this }}</p>
              {{else}}
              <p class="text-lg font-medium text-gray-800">Not available</p>
              {{/each}}
            </div>
            <div class="col-span-7 space-y-2">
              {{> ui/resultKey text='Tags' }}
              {{#each book.tags}}
              <button
                data-handler="tag"
                data-tag="{{ this }}"
                class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-gray-100 text-gray-800"
              >
                {{ this }}
              </button>
              {{else}}
              <p class="text-lg font-medium text-gray-800">Not available</p>
              {{/each}}
            </div>
          </div>
        </div>
      </section>
    </main>
    {{> global/mainFooter }}
    {{> global/scripts }}
  </body>
</html>
