<a href="/{{this.slug}}">
    <aside class="relative p-6 rounded-md shadow bg-blackLight">
        <div class="absolute top-0 right-0 flex flex-col items-center px-3 py-1 space-y-1 text-gray-200 bg-blackMedium rounded-tr-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.5 5.523v15a2.25 2.25 0 002.25 2.25 2.207 2.207 0 00.392-.039l9.406-1.682a3.584 3.584 0 002.952-3.528v-10.5a1.256 1.256 0 00-1.476-1.236L7.147 7.738a2.25 2.25 0 11-.794-4.429l11.619-2.082M16.37 1.514l2.142 4.283" />
            </svg>
            <p class="text-xs">Book</p>
        </div>
        <h3 class="text-base font-bold text-gray-100 max-w-xxs lg:text-lg lg:max-w-lg">{{this.title}}</h3>
        <p class="font-medium text-gray-400">{{this.author}}</p>
        <div class="grid grid-cols-12 gap-4 mt-4">
            <div class="flex flex-col items-start col-span-2">
                <p class="text-base font-medium text-gray-600">Year</p>
                <p class="text-gray-300 lg:text-lg">{{this.year}}</p>
            </div>
            <div class="flex flex-col items-start col-span-6">
                <p class="text-base font-medium text-gray-600">Original Publisher</p>
                <p class="text-gray-300 lg:text-lg">{{this.originalPublisher}}</p>
            </div>
            <div class="flex flex-col items-start col-span-4">
                <p class="text-base font-medium text-gray-600">Updated Edition</p>
                <p class="text-gray-300 lg:text-lg">{{this.updatedEdition}}</p>
            </div>
        </div>
    </aside>
</a>
